.outer{
}

.outer .notification {
  background-color: #f44336;
  color: white;
  padding: 3px;
}

table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  text-align: justify;
  font-size: large;
}

input {
  margin-left: 3px;
}